/* Code */

.cell-output pre {
  border: #ccc 1px solid;
  padding: 5px 0;
}

/* gt tables */

table.gt_table {
  font-size: .9em !important;
  background-color: #fafafb;
  padding: 5px;
}

td.gt_footnote {
  padding-top: 10px;
}