/* Code */

.cell-output pre {
  border: #ccc 1px solid;
  padding: 5px 0;
}

/* Figures */

figure.figure {
  border: #ccc 1px solid;
  border-radius: 4px;
  padding: 5px;
}

.noborder figure.figure {
  border: none;
  padding: 0;
}